apiVersion: apps/v1
kind: Deployment
metadata:
  name: mindtrack-deploy
  labels:
    app: brain-tasks
spec:
  replicas: 2
  selector:
    matchLabels:
      app: brain-tasks
  template:
    metadata:
      labels:
        app: brain-tasks
    spec: 
      containers: 
        - name: app-container
          image: <image_uri> 
          ports:
            - containerPort: 3000 

